<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Enter</title>
    <link rel="stylesheet" href="public/style/global.css">
    <link rel="stylesheet" href="public/style/enter.css">
</head>

<body>
    <div id="form-container">
        <form action="" method="POST">
            <input type="text" name="nickname" id="nickname" placeholder="nickname">
            <input type="submit" value="Enter">
        </form>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="public/js/global.js"></script>

</html>