<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chatroom <%= room.name %></title>
    <link rel="stylesheet" href="public/style/global.css">
    <link rel="stylesheet" href="public/style/room.css">
</head>

<body>
    <header>
        <span>Nickname: <%= nickname %></span><a href="/logout">Logout</a>
    </header>
    <div id="chat">
        <% room.messages.forEach((msg)=>{%>
        <div class="msg"><span><%= msg.author %><%if (!msg.sys) { %>
                :
                <% } %> </span><%= msg.content %></div>
        <%})%>
    </div>
    <footer>
        <input id="new-msg" type="text">
        <span id="send">Submit</span>
    </footer>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="public/js/global.js"></script>
<script src="public/js/room.js"></script>

</html>