<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form>
        <input type="text" name="Fname" placeholder="First Name"><br>
        <input type="text" name="Lname" placeholder="Last Name"><br>
        <input type="text" name="Email" placeholder="Email"><br>
        <input type="text" name="Uni" placeholder="University"><br><br>
        <input type="radio" name="Pos" value="Asystent">Asystent<br>
        <input type="radio" name="Pos" value="Adiunkt">Adiunkt<br>
        <input type="radio" name="Pos" value="ProfNad">Profesor Nadzwyczajny<br>
        <input type="radio" name="Pos" value="ProfZwy">Profesor Zwyczajny<br><br>
        <input type="checkbox" name="Dinner" value="Wed">Kolacja w Środę<br>
        <input type="checkbox" name="Dinner" value="Thu">Kolacja w Czwartek<br>
        <input type="checkbox" name="Dinner" value="Fri">Kolacja w Piątek<br><br>
        Data przyjazdu<br>
        <select>
            <option value="Tue">Wtorek</option>
            <option value="Wed">Środa</option>
            <option value="Thu">Czwartek</option>
            <option value="Fri">Piątek</option>
        </select><br><br>
        <textarea name="Comment" placeholder="Komentarz"></textarea>
        <br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>

</html>