<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="box">
        <nav id="menu">
            <ul id="menu__list" class="center-text">
                <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
                <li class="menu__group"><a href="/users" class="menu__link">Users</a></li>
                <li class="menu__group"><a href="/apps" class="menu__link">Applications</a></li>
                <li class="menu__group"><a href="/stats" class="menu__link">Statistics</a></li>
            </ul>
        </nav>
        <form class="radius-and-padding boxshdw" method="POST" th:action="@{/edituser}" th:object="${user}">
            <div id="form-header">
                <h1>Edit User</h1>
            </div>
            <div id="form-content">
                <div class="form-group">
                    <label for="imie">First Name:</label>
                    <input type="text" th:field="*{imie}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('imie')}" th:errors="*{imie}">First Name Error</span>
                </div>
                <div class="form-group">
                    <label for="nazwisko">Last Name:</label>
                    <input type="text" th:field="*{nazwisko}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('nazwisko')}" th:errors="*{nazwisko}"><br/>Last Name Error</span>
                </div>
                <div class="form-group">
                    <label for="kraj">Country:</label>
                    <input type="text" th:field="*{kraj}" />
                    <span class="validationError" th:if="${#fields.hasErrors('kraj')}" th:errors="*{kraj}">Country Error</span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" th:field="*{email}" />
                    <span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"><br/>Email Error</span>
                </div>
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" th:field="*{login}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</span>
                </div>
                <div class="form-group">
                    <label for="haslo">Password:</label>
                    <input type="text" th:field="*{haslo}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('haslo')}" th:errors="*{haslo}"><br/>Password Error</span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Submit">Submit</button>
                    <div th:if="${#fields.hasErrors()}">
                        <span class="validationError">
                            Please correct the problems above and resubmit.
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>