<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="1">
    <constructor-arg name="fname" value="Jillian"/>
    <constructor-arg name="lname" value="Palethorpe"/>
    <constructor-arg name="email" value="jpalethorpe0@accuweather.com"/>
    <constructor-arg name="comp" value="Layo"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="2">
    <constructor-arg name="fname" value="Mohandas"/>
    <constructor-arg name="lname" value="Branchet"/>
    <constructor-arg name="email" value="mbranchet1@marriott.com"/>
    <constructor-arg name="comp" value="Gigabox"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="3">
    <constructor-arg name="fname" value="Philly"/>
    <constructor-arg name="lname" value="Guyton"/>
    <constructor-arg name="email" value="pguyton2@shareasale.com"/>
    <constructor-arg name="comp" value="Quatz"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="4">
    <constructor-arg name="fname" value="Kirsteni"/>
    <constructor-arg name="lname" value="Bentham3"/>
    <constructor-arg name="email" value="kbentham3@loc.gov"/>
    <constructor-arg name="comp" value="Quaxo"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="5">
    <constructor-arg name="fname" value="Cosetta"/>
    <constructor-arg name="lname" value="Rolfi"/>
    <constructor-arg name="email" value="crolfi4@photobucket.com"/>
    <constructor-arg name="comp" value="Riffwire"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="6">
    <constructor-arg name="fname" value="Hedvig"/>
    <constructor-arg name="lname" value="Firminger"/>
    <constructor-arg name="email" value="hfirminger5@netscape.com"/>
    <constructor-arg name="comp" value="Quire"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="7">
    <constructor-arg name="fname" value="Lorna"/>
    <constructor-arg name="lname" value="Caseley"/>
    <constructor-arg name="email" value="lcaseley6@illinois.edu"/>
    <constructor-arg name="comp" value="Skinix"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="8">
    <constructor-arg name="fname" value="Arty"/>
    <constructor-arg name="lname" value="Nesey"/>
    <constructor-arg name="email" value="anesey7@washington.edu"/>
    <constructor-arg name="comp" value="Dabvine"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="9">
    <constructor-arg name="fname" value="Dugald"/>
    <constructor-arg name="lname" value="Fechnie"/>
    <constructor-arg name="email" value="dfechnie8@feedburner.com"/>
    <constructor-arg name="comp" value="Twitterbridge"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="10">
    <constructor-arg name="fname" value="Halley"/>
    <constructor-arg name="lname" value="Gadaud"/>
    <constructor-arg name="email" value="hgadaud9@sohu.com"/>
    <constructor-arg name="comp" value="Oyope"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="11">
    <constructor-arg name="fname" value="Kamilah"/>
    <constructor-arg name="lname" value="Wolters"/>
    <constructor-arg name="email" value="kwoltersa@google.es"/>
    <constructor-arg name="comp" value="Shuffledrive"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="12">
    <constructor-arg name="fname" value="Meredeth"/>
    <constructor-arg name="lname" value="Bedward"/>
    <constructor-arg name="email" value="mbedwardb@uiuc.edu"/>
    <constructor-arg name="comp" value="Meeveo"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="13">
    <constructor-arg name="fname" value="Aloin"/>
    <constructor-arg name="lname" value="Rigglesford"/>
    <constructor-arg name="email" value="arigglesfordc@cafepress.com"/>
    <constructor-arg name="comp" value="Skyble"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="14">
    <constructor-arg name="fname" value="Petunia"/>
    <constructor-arg name="lname" value="Chevolleau"/>
    <constructor-arg name="email" value="pchevolleaud@cnn.com"/>
    <constructor-arg name="comp" value="Zoombeat"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="15">
    <constructor-arg name="fname" value="Sunshine"/>
    <constructor-arg name="lname" value="Haggerty"/>
    <constructor-arg name="email" value="shaggertye@webnode.com"/>
    <constructor-arg name="comp" value="Digitube"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="16">
    <constructor-arg name="fname" value="Eberto"/>
    <constructor-arg name="lname" value="Keaves"/>
    <constructor-arg name="email" value="ekeavesf@tumblr.com"/>
    <constructor-arg name="comp" value="Voonte"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="17">
    <constructor-arg name="fname" value="Tasha"/>
    <constructor-arg name="lname" value="Shemwell"/>
    <constructor-arg name="email" value="tshemwellg@prlog.org"/>
    <constructor-arg name="comp" value="Brainbox"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="18">
    <constructor-arg name="fname" value="Philomena"/>
    <constructor-arg name="lname" value="Diloway"/>
    <constructor-arg name="email" value="pdilowayh@opensource.org"/>
    <constructor-arg name="comp" value="Zoozzy"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="19">
    <constructor-arg name="fname" value="Raymond"/>
    <constructor-arg name="lname" value="Behnecke"/>
    <constructor-arg name="email" value="rbehneckei@zdnet.com"/>
    <constructor-arg name="comp" value="Realmix"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="20">
    <constructor-arg name="fname" value="Kirbie"/>
    <constructor-arg name="lname" value="Wrettum"/>
    <constructor-arg name="email" value="kwrettumj@slideshare.net"/>
    <constructor-arg name="comp" value="Browsetype"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="21">
    <constructor-arg name="fname" value="Edie"/>
    <constructor-arg name="lname" value="Pledger"/>
    <constructor-arg name="email" value="epledgerk@chron.com"/>
    <constructor-arg name="comp" value="Voonder"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="22">
    <constructor-arg name="fname" value="Brooke"/>
    <constructor-arg name="lname" value="Ratcliff"/>
    <constructor-arg name="email" value="bratcliffl@dailymotion.com"/>
    <constructor-arg name="comp" value="Livetube"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="23">
    <constructor-arg name="fname" value="Kristy"/>
    <constructor-arg name="lname" value="Burnsyde"/>
    <constructor-arg name="email" value="kburnsydem@dailymotion.com"/>
    <constructor-arg name="comp" value="Oyoloo"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="24">
    <constructor-arg name="fname" value="Vinnie"/>
    <constructor-arg name="lname" value="Arp"/>
    <constructor-arg name="email" value="varpn@github.io"/>
    <constructor-arg name="comp" value="Talane"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="25">
    <constructor-arg name="fname" value="Diana"/>
    <constructor-arg name="lname" value="Wickrath"/>
    <constructor-arg name="email" value="dwickratho@liveinternet.ru"/>
    <constructor-arg name="comp" value="Ooba"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="26">
    <constructor-arg name="fname" value="Gasper"/>
    <constructor-arg name="lname" value="Gane"/>
    <constructor-arg name="email" value="gganep@usnews.com"/>
    <constructor-arg name="comp" value="Jabbersphere"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="27">
    <constructor-arg name="fname" value="Jere"/>
    <constructor-arg name="lname" value="Maberley"/>
    <constructor-arg name="email" value="jmaberleyq@photobucket.com"/>
    <constructor-arg name="comp" value="Digitube"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="28">
    <constructor-arg name="fname" value="Chrystal"/>
    <constructor-arg name="lname" value="Havoc"/>
    <constructor-arg name="email" value="chavocr@yahoo.com"/>
    <constructor-arg name="comp" value="Mymm"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="29">
    <constructor-arg name="fname" value="Haze"/>
    <constructor-arg name="lname" value="Manske"/>
    <constructor-arg name="email" value="hmanskes@trellian.com"/>
    <constructor-arg name="comp" value="Katz"/>
  </bean>
  <bean class="pl.edu.ug.tent.springintro.domain.Person" id="30">
    <constructor-arg name="fname" value="Juline"/>
    <constructor-arg name="lname" value="Merchant"/>
    <constructor-arg name="email" value="jmerchantt@123-reg.co.uk"/>
    <constructor-arg name="comp" value="Browsetype"/>
  </bean>


</beans>