.container {
  display: grid;
  grid-template-areas:
    "h h h"
    "s c a"
    "f f f";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 50px;
}
header {
  grid-area: h;
}
nav {
  grid-area: s;
}
section {
  grid-area: c;
}
aside {
  grid-area: a;
}
footer {
  grid-area: f;
}
.container > * {
  border: 1px solid black;
  background-color: skyblue;
  padding: 1vw;
}
